
@import "../sass/Components/Buttons";
@import "../sass/Utils/variables";
@import "../sass/Utils/mixins";
@font-face
{
    font-family: 'texte';
    src: url('./Polices/Roboto-Regular.ttf');
        
}   
@font-face{
    font-family: 'logo';
    src: url('./Polices/Shrikhand-Regular.otf');
}

*
{
    font-family: "texte";
}
   

body
{   
    width: 100%;
    margin: 0;
    padding: 0;
}    
img 
{
    width: 100%;
    height: 30%;
    object-fit: cover;
}

form 
{
    width: 100%;
    background-color: rgb(234, 234, 234);
    box-shadow: 0px -3px 6px darkgrey;
    p
    {
        display: flex;
        padding: 20px;
        justify-content: center;

    }
    
    input
    {
        border: transparent;
        background: transparent;
        width: auto;
        text-align: center;
        font-weight: bold;
        font-size: medium;

    }
        /* CSS PAGE ACCUEIL*/
}
h2
{
    margin-left: 20px;
}
.container-primary
{
    width: 100%;
    background-color:#f2f2f2;
    padding-bottom: 50px;
    h1
    {
        margin: 30px 40px 30px 40px;
        text-align: center;
    
        
    }
    .container-primary__presentation
    {
        margin: 30px 15px 20px 15px;
        text-align: center;
    }
}
.container-secondary
{   
    padding: 20px 0px 10px 0px; 

    ol{
        padding: 0;

        .list
        {
            width: 100%;
            display: flex; 
            position: relative;          
        } 

        li
        {
            width: 100%;
            display: flex;
            margin: 20px 20px 5px 30px;
            border-radius: 20px;
            list-style-type: none;
            background: rgb(246, 246, 246);
            justify-content: space-around;
            padding: 25px 20px 25px 20px;
            align-items: center;
            box-shadow: 0px 3px 15px lightgrey;;
            font-weight: bold;
            &:hover
            {
                background-color: rgb(245, 237, 255);
                i
                {
                    color:#9356DC;
                }

            }
            
        }
        p
        {
            position: absolute;
            left: 4%;
            top: 25%;
            background-color: #9356DC;
            align-self: center;
            border: solid 1px;
            border-radius: 15px;
            padding: 5px 10px 5px 10px;
            color: #FFFFFF;
        }
        i 
        {
            color: #22212194;
            font-size: 20px;

        }


    }

}

.cards-container
{
    
    width:100%;
    background-color:#f2f2f2;
    padding: 20px 0px 40px 0px;
}
figure
{
    margin: 20px;
    box-shadow: 10px 10px 10px #e3e3e3;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    img
    {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    }

    p:first-child
    {
        background-color: #97eace;
        color: rgb(38, 157, 128);
        width: fit-content;
        padding: 6px 10px 6px 10px;
        position: absolute;
        top: 5%;
        left: 70%;
        margin: 0px;
        text-align: center;
        font-weight: bold;
    }
    p
    {
        margin: 0;
    } 
    figcaption
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px 0px 15px 15px;
        i
        {
            font-size: 2em;
            padding: 25px;
            cursor: pointer;
            &:hover
            {
                background: linear-gradient(#FF79DA, #9356DC);
            }
        }
        .cards__info
        {
            margin: 0px 0px 10px 10px;
        }
        h3
        {
            margin: 10px 10px 10px 0px;
        }
    }
}
        /* CSS PAGES MENU*/

.picture
{
    margin-bottom: -60px;
}

.menu
{   background-color: $backgroung-light;
    border-radius: 40px 40px 0 0;
    padding: 20px 0px 45px 0px;
    position: relative;
    
    
    h1
    {
        margin: 20px 35px 0px 30px;
        font-family: "logo", Arial, Helvetica, sans-serif;
        font-size: 7vw;
        font-weight: normal;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    h2
    {
        width: 10%;
        margin: 40px 0px 0px 30px;
        padding: 5px 0px 5px 0px;
        font-weight: normal;
        font-size: medium;
        border-bottom: solid rgb(153, 226, 208);
    }
    ul
    {
        width: 100%;
        margin-bottom: 50px;
        padding-left: 0;
        li
        {
            background-color:#FFFFFF;
            margin: 20px;
            border-radius: 20px;
            list-style-type: none;
            justify-content: space-around;
            padding: 7px;
            align-items: center;
            box-shadow: 0px 3px 10px lightgrey;
           
        }
        .choices
        {
            display: inline;
           
        }
        .menu__details
        {
            display: flex;
            justify-content: space-between;
            margin: 7px;
            padding: 0;
            p
            {   
                margin: 0;   
            }
        }
        h3
        {
            margin:7px;
        }
    }

    
}