footer
{
    background-color: $background-footer;
    color:#fff;
    width: 100%;

    img 
    {
        width:25% ; 
    filter: invert(100%);
    }

    p 
    {   font-size: 1rem;
        font-family:'logo',Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 20px 0 0 20px;
        font-weight: normal; 

    }
    ul
    {
        
        width:55%;
        list-style-type: none;
        padding: 20px;
        margin: 0;
    }
    li
    {
        padding-bottom: 5px;
        i{
            padding-right: 10px;
        }
    }
    
}