header
{
    width: 100%;
    margin-top: 20px;
    p {
        width: 100%;
        margin: 0;
        font-size: 8vw;
        font-family:'logo',Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: normal;
    } 
}
