header
{
    width: 100%;
    margin-top: 20px;
    display:flex;
    position: relative;
    p {
        width: 100%;
        margin: 0;
        font-size: 8vw;
        font-family:'logo',Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: normal;
    }
    i {
        color: black;
        position: absolute;
        font-size: 5vw;
        right: 90%;
        top: 3%;
    }
    
}
