header {
  width: 100%;
  display: flex;
  position: relative;
}
header p {
  width: 100%;
  margin: 0;
  font-size: 1.8rem;
  font-family: "logo", Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: normal;
}
header i {
  color: black;
  position: absolute;
  font-size: 1.25rem;
  right: 90%;
  top: 15%;
}

button {
  display: block;
  margin: auto;
  border: none;
  min-width: 15%;
  border-radius: 30px;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  box-shadow: 0px 3px 6px darkgrey;
  border: black;
  font-size: medium;
  opacity: 1;
}
button:hover {
  box-shadow: 0px 3px 6px black;
  opacity: 0.8;
}

@font-face {
  font-family: "texte";
  src: url("https://cyrilcabit.github.io/CyrilCabit_3_01032021/Polices/Roboto-Regular.ttf");
}
@font-face {
  font-family: "logo";
  src: url("https://cyrilcabit.github.io/CyrilCabit_3_01032021/Polices/Shrikhand-Regular.otf");
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .number {
    left: -4%;
  }

  .menu ul {
    font-size: small;
  }
}
@media only screen and (min-width: 426px) and (max-width: 767px) {
  .number {
    left: -2%;
  }

  .menu ul {
    font-size: small;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container-secondary ol {
    padding: 0;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .number {
    left: -2%;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .cards-container h2 {
    width: 100%;
  }
  .cards-container figure {
    width: 44%;
  }

  /* ANNEXES 4 MENUS*/
  .menu h2 {
    margin-left: auto;
    margin-right: auto;
  }
  .menu ul {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .container-secondary ol {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .container-secondary ol li {
    width: 100%;
  }

  .number {
    left: -4%;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .cards-container h2 {
    width: 100%;
  }
  .cards-container figure {
    width: 21%;
  }
  .cards-container figure p:first-child {
    left: 55%;
  }

  /* ANNEXES 4 MENUS*/
  .menu .menu__lacarte {
    display: flex;
    justify-content: space-around;
  }
  .menu .menu__lacarte .menu__category {
    width: 32%;
  }
  .menu ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 2559px) {
  .container-secondary ol {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .container-secondary ol li {
    width: 100%;
  }

  .number {
    left: -2%;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .cards-container h2 {
    width: 100%;
  }
  .cards-container figure {
    width: 21%;
  }
  .cards-container figure p:first-child {
    left: 70%;
  }

  /* ANNEXES 4 MENUS*/
  .menu .menu__lacarte {
    display: flex;
    justify-content: space-around;
  }
  .menu .menu__lacarte .menu__category {
    width: 30%;
  }
  .menu ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
  }
}
@media only screen and (min-width: 2560px) {
  .container-secondary ol {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .container-secondary ol li {
    width: 100%;
  }

  .number {
    left: -2%;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .cards-container h2 {
    width: 100%;
  }
  .cards-container figure {
    width: 21%;
  }
  .cards-container figure p:first-child {
    left: 80%;
  }

  /* ANNEXES 4 MENUS*/
  .menu .menu__lacarte {
    display: flex;
    justify-content: space-around;
  }
  .menu .menu__lacarte .menu__category {
    width: 30%;
  }
  .menu ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes apparition-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes checkrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slidein {
  0% {
    width: 0%;
  }
  25% {
    width: 10%;
  }
  50% {
    width: 20%;
  }
  100% {
    width: 35%;
  }
}
@keyframes slideout {
  0% {
    width: 35%;
  }
  25% {
    width: 20%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 0%;
  }
}
@keyframes heart {
  0% {
    height: 0px;
  }
  25% {
    height: 7px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 30px;
  }
}
* {
  font-family: "texte";
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

form {
  width: 100%;
  background-color: #eaeaea;
  box-shadow: 0px -3px 6px darkgrey;
}
form p {
  display: flex;
  padding: 20px;
  justify-content: center;
}
form input {
  border: transparent;
  background: transparent;
  width: auto;
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

/* CSS LOADER*/
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  position: fixed;
  z-index: 1;
  animation: loading 2000ms ease-in-out 2s;
  animation-fill-mode: forwards;
}
.loader p {
  font-family: "logo";
  font-size: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}
.loader .loader__spinner {
  width: 50px;
  height: 50px;
  border: solid 8px #eaeaea;
  border-radius: 50%;
  position: relative;
  border-top: solid 8px #FF79DA;
  animation: spin 800ms linear;
  animation-iteration-count: 5;
}

/* CSS PAGE ACCUEIL*/
h2 {
  margin-left: 20px;
}

.container-primary {
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 50px;
}
.container-primary h1 {
  margin: 30px 40px 30px 40px;
  text-align: center;
}
.container-primary .container-primary__presentation {
  margin: 30px 15px 20px 15px;
  text-align: center;
}

.container-secondary {
  padding: 20px 0px 10px 0px;
}
.container-secondary ol {
  padding: 0;
}
.container-secondary ol li {
  display: flex;
  position: relative;
  margin: 20px 20px 5px 30px;
  border-radius: 20px;
  list-style-type: none;
  background: #f6f6f6;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 3px 15px lightgrey;
  font-weight: bold;
}
.container-secondary ol li .number {
  display: flex;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 50%;
  padding: 8px;
  color: #FFFFFF;
}
.container-secondary ol li:hover {
  background-color: #f5edff;
}
.container-secondary ol li:hover i {
  color: #9356DC;
}
.container-secondary ol i {
  color: #22212194;
  font-size: 20px;
}

.cards-container {
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px 0px 40px 0px;
}

figure {
  margin: 20px;
  box-shadow: 10px 10px 10px #e3e3e3;
  border-radius: 0px 0px 15px 15px;
  position: relative;
}
figure img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
}
figure p:first-child {
  background-color: #97eace;
  color: #269d80;
  width: fit-content;
  padding: 6px 10px 6px 10px;
  position: absolute;
  top: 5%;
  left: 70%;
  margin: 0px;
  text-align: center;
  font-weight: bold;
}
figure p {
  margin: 0;
}
figure figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
}
figure figcaption i {
  font-size: 2em;
  margin: 25px;
  cursor: pointer;
  position: relative;
  background: black;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
figure figcaption i:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  animation: heart 1000ms linear;
}
figure figcaption .cards__info {
  margin: 10px;
}
figure figcaption h3 {
  margin: 10px 10px 10px 0px;
}

/* CSS PAGES ANNEXES MENU*/
.picture {
  margin-bottom: -60px;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 20px 0px 45px 0px;
  position: relative;
}
.menu h1 {
  margin: 20px 35px 0px 30px;
  font-family: "logo", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.menu h2 {
  width: fit-content;
  margin-top: 40px;
  margin-right: auto;
  padding: 5px 0px 5px 0px;
  font-weight: normal;
  font-size: medium;
  border-bottom: solid #99e2d0;
}
.menu ul {
  margin-bottom: 50px;
  padding: 0;
  animation: apparition-menu 4s;
}
.menu ul .menu__card {
  width: 95%;
  height: 80px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  border-radius: 20px;
  list-style-type: none;
  align-items: center;
  box-shadow: 0px 3px 10px lightgrey;
  overflow: hidden;
}
.menu ul .menu__card:hover > .menu__card__check {
  animation: slidein 300ms linear 200ms;
  animation-fill-mode: both;
}
.menu ul .menu__card:hover > .menu__card__check i {
  animation: checkrotate 300ms linear 200ms;
}
.menu ul .menu__card__details {
  width: 100%;
  margin: 0px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu ul .menu__card__details h3, .menu ul .menu__card__details p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu ul .menu__card__price {
  font-weight: bold;
  padding: 15px;
}
.menu ul .menu__card__check {
  display: flex;
  height: inherit;
  background-color: #97eace;
  color: #FFFFFF;
  border-radius: 0px 20px 20px 0px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  animation: slideout 300ms linear 200ms;
  animation-fill-mode: both;
}

footer {
  background-color: #222121;
  color: #fff;
  width: 100%;
}
footer img {
  width: 25%;
  filter: invert(100%);
}
footer p {
  font-size: 1.1rem;
  font-family: "logo", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 20px 0 0 20px;
  font-weight: normal;
}
footer ul {
  width: 70%;
  list-style-type: none;
  padding: 20px;
  margin: 0;
}
footer li {
  padding-bottom: 5px;
}
footer li i {
  padding-right: 10px;
}
footer li a {
  color: #FFFFFF;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
