@keyframes spin
{   
    from{
        transform:rotate(0deg);
    }
      
    to{
        transform:rotate(360deg);
    }
}
    
@keyframes loading
{   
    0%{
        visibility: visible;
        opacity: 1;
            
    }

    100%{
        visibility: hidden;
        opacity: 0;
            
    }
}

@keyframes apparition-menu
{   
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
    
}

@keyframes checkrotate 
{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}       
}
@keyframes slidein 
{
    0%{width: 0%;}
    25%{width: 10%;}
    50%{width: 20%;}
    100%{width: 35%;}    
}
@keyframes slideout 
{
    0%{width: 35%;}
    25%{width: 20%;}
    50%{width: 10%;}
    100%{width: 0%;}    
}
@keyframes heart 
{
    0%{height: 0px;}
    25%{height: 7px}
    50%{height: 15px;}
    100%{height: 30px;}
    
}