@font-face
{
    font-family: 'texte';
    src: url('https://cyrilcabit.github.io/CyrilCabit_3_01032021/Polices/Roboto-Regular.ttf');
        
}   
@font-face{
    font-family: 'logo';
    src: url('https://cyrilcabit.github.io/CyrilCabit_3_01032021/Polices/Shrikhand-Regular.otf');
}